<div class="row">
  <div class="col-md-5">
    <h2>Recipes</h2>
    <ul class="list-group">
      <li class="list-group-item"
          role="button"
          *ngFor="let recipe of recipes"
          (click)="selectRecipe(recipe)"
          [class.active]="recipe === selectedRecipe">
          {{recipe.value.name}}

          <span>
            <cr-star [starRating]='recipe.value.rating'
              (click)='updateStar(recipe)'
              (notify)='onNotify($event)'>
            </cr-star>
          </span>

      </li>
    </ul>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <cr-recipe-details
      [recipe]="selectedRecipe">
    </cr-recipe-details>
  </div>
</div>